// Utils
.u-cf:before,
.u-cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.u-cf:after {
    clear: both;
}

.u-cf {
    *zoom: 1;
}
.u-list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.u-fullsize {
  width: 100%;
  height: 100%;
}

.u-imgresponsive {
  max-width: 100%;
}
