/*About*/
.o-about {
  &__carousel {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
  &__desc {
    text-align: center;
    vertical-align: middle;
  }
  &__block {
    margin-bottom: 1em;
  }
  &__intro {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    font-family: Chalet;
    font-size: 1em;
    color: $c_turquoise;
  }
  &__title {
    margin: 0;
    text-transform: uppercase;
    font-family: Chalet;
    font-size: 1em;
    color: $c_turquoise;
  }
  &__text {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    font-size: 1em;
    color: $c_gray;
  }
}

@include media(">=1366px") {
  .o-about {
    &__intro,
    &__text {
      max-width: 600px;
    }
    &__intro,
    &__title {
      font-size: 2em;
    }
    &__text {
      font-size: 1.5em;
    }
  }
}
