/*Case*/
.o-case {
  &__resources {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &-group {
      margin: 0 auto;
    }

    &-item {
      position: relative;

      display: table;
      height: 100vh;
      width: 100%;
      margin-top: 1em;

      &:first-child {
        margin: 0;
      }
    }

    &-media {
      display: table-cell;
      vertical-align: middle;
    }

    img {
      max-height: 100vh;
    }

    audio {
      margin: 4em 0;
    }
  }
  &__video {
    position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
    margin-bottom: 1em;
  	height: 0;
    iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
  &__info {
    width: 100%;
    height: 100%;
    background-color: #fff;

    &-inner {
      padding: 3em 1em 1em;
    }

    .o-format {
      &__title {
        margin-bottom: 0.5em;
      }
      &__text {
        margin-top: 0;
        margin-bottom: 1em;
      }
    }
  }
  &__logo {
    margin-bottom: 1em;
    text-align: center;
    img {
      display: inline-block;
    }
  }
  &__actions {
    width: 100%;
    margin-top: 2em;
    text-align: center;
    &-item {
      display: inline-block;
      vertical-align: middle;
      &:hover {
        background-color: rgba(black, 0.1);
      }
    }
    &-link {
      display: block;
      padding: 0.5em 1em;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      &--seemore {
        color: $c_turquoise;
        &:hover {
          color: $c_turquoise;
        }
      }
    }
  }
}
