/*Format components*/
.o-format {
  &__title {
    margin-top: 0;
    color: $c_turquoise;
    font-size: 24px;
  }
  &__text {
    margin-bottom: 1em;
    color: $c_gray;
  }
}

@include media(">1366px") {
  .o-format {
    &__title {
      font-size: 48px;
    }
    &__text {
      font-size: 1.5em;
    }
  }
}
