/*Js Carousel*/
.o-jcarousel {
  position: relative;
  overflow: hidden;
  opacity: 0;
  &__container {
    position: relative;
    width: 20000em;
  }
  &__item {
    float: left;
  }
  &__pager {
    margin-top: 1em;
    text-align: center;
    &-item {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 8px;
      border-radius: 50%;
      background-color: $c_gray;
      &.js-active {
        background-color: $c_turquoise;
      }
    }
  }
}
