// Libs
@import "../../bower_components/include-media/dist/_include-media";

// Mixins
@mixin apply-brick-bg($list, $exception-index) {
  @each $item in $list {
    $i: index($list, $item);
    @if ($i != $exception-index) {
      &:nth-child(#{$i}) {
        background: url('../images/tocs/' + $item + '-toc.png') no-repeat center center;
        background-size: cover;
      }
    }
  }
}

@mixin apply-card-bg($list) {
  @each $item in $list {
    $i: index($list, $item);
    &:nth-child(#{$i}) {
      .o-card__face--front {
        background: url('../images/tocs/' + $item + '-toc.png') no-repeat center center;
        background-size: cover;
      }
    }
  }
}

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);
	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
	@return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;
	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);
	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);
	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}
	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@function decimal-round ($number, $digits: 0, $mode: round) {
    $n: 1;
    // $number must be a number
    @if type-of($number) != number {
        @warn '#{ $number } is not a number.';
        @return $number;
    }
    // $digits must be a unitless number
    @if type-of($digits) != number {
        @warn '#{ $digits } is not a number.';
        @return $number;
    } @else if not unitless($digits) {
        @warn '#{ $digits } has a unit.';
        @return $number;
    }
    @if $digits > 0 {
        @for $i from 1 through $digits {
            $n: $n * 10;
        }
    }
    @if $mode == round {
        @return round($number * $n) / $n;
    } @else if $mode == ceil {
        @return ceil($number * $n) / $n;
    } @else if $mode == floor {
        @return floor($number * $n) / $n;
    } @else {
        @warn '#{ $mode } is undefined keyword.';
        @return $number;
    }
}



// Settings
$c_turquoise: #8dd2cd;
$c_gray: #b2b2b2;

// Utils
.u-cf:before,
.u-cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.u-cf:after {
    clear: both;
}

.u-cf {
    *zoom: 1;
}
.u-list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.u-fullsize {
  width: 100%;
  height: 100%;
}

.u-imgresponsive {
  max-width: 100%;
}

// Base Styles
@include font-face(Chalet, '../fonts/chalet-ny-1970', 700, normal, eot svg woff2 woff);

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Cabin Condensed', sans-serif;
  &.js-noscroll {
    position: fixed;
    overflow: hidden;
  }
}

* { box-sizing: border-box;}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


// Custom Syles
.js-hide {
  display: none;
}


.o-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  &__inner {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    &.js-show {
      opacity: 1;
    }
  }
  &__sprite {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;
    background: url('../images/tocs/tocs-sprite.png');
    background-position: center top;
    animation: tocsLoad 1s steps(12) infinite;
    opacity: 0;
    overflow: hidden;
  }
  .o-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    font-size: 5em;
    display: block;
    margin: 0;
  }
}

@keyframes tocsLoad {
  50% {
    opacity: 0.8;
  }
  100% {
    background-position: 0 3360px;
    opacity: 0;
  }
}

.o-layout {
  &--desktop {
    display: none;
    @include media(">=tablet") {
      display: block;
    }
  }
  &--mobile {
    transition: all 0.6s ease-in-out;
    @include media(">=tablet") {
      display: none;
    }
    &.js-translate-up {
      transform: translate3d(0, calc((100% / 4) * -1), 0);
      &.js-show-content {
        .o-curtain {
          top: calc(100% / 4 * 2);
        }
      }
    }
    &.js-translate-down {
      transform: translate3d(0, calc(100% / 4), 0);
      &.js-show-content {
        .o-curtain {
          bottom: calc(100% / 4 * 2);
        }
      }
    }
    &.js-show-content {
      .o-curtain {
        height: calc(100% / 4 * 3);
      }
    }

    .o-card {
      &__face--back {
        display: table;
        text-align: center;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}

.o-card {
  perspective: 1500px;
  background-color: #fff;
  &.js-flip {
    > .o-card__flipper {
      transform: rotateY(180deg);
    }
  }

  &__flipper {
    position: relative;
    display: block;
    transform-style: preserve-3d;
    transition: all 0.6s ease-in-out;
  }
  &__face {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    backface-visibility: hidden;
    &--front {
      z-index: 10;
      background: #fff;
      transform: rotateY(0);
    }
    &--back {
      transform: rotateY(180deg);
      background: white;
      color: white;
      display: table;
      .o-format__title {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
  &--case {
    float: left;
    height: 100%;
    &-a {
      position: relative;
      z-index: 10;
      width: calc(100% / 4 * 3);
    }
    &-b {
      width: calc(100% / 4);

      &.js-flip {
        position: fixed;
        top: 0;
        right: 0;
      }

      .o-card__face--front {
        > .o-brick {
          $tocs: 4, 8, 12;
          @include apply-brick-bg($tocs, false);
        }
      }
    }
  }
  &--about {
    &-a {
      .o-card__face {
        &--front {
          background: url('../images/tocs/1-toc.png') no-repeat center center;
          background-size: cover;
        }
        &--back {
          display: table;
          padding: 1em;
          text-align: center;
        }
      }
    }
    &-b {
      @extend .u-fullsize;

      .o-brick {
        height: calc(100% / 3);
      }

      .o-card__face--front {
        > .o-brick {
          $tocs: 2, 3, 6, 7, "exception", 11;
          @include apply-brick-bg($tocs, 5);
        }
      }
    }
  }
  &--contact {
    &-a {
      cursor: pointer;
      .o-card__face {
        &--front {
          background: url('../images/tocs/10-toc.png') no-repeat center center;
          background-size: cover;
        }
      }
      .o-format__title {
        display: block;
      }
    }
  }
  &--crew {
    &-a {
      .o-card__face {
        &--front {
          background: url('../images/tocs/6-toc.png') no-repeat center center;
          background-size: cover;
        }
      }
    }
    &-b {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      width: 50%;
      height: 100%;

      .o-crew {
        &__name,
        &__photo {
          height: 100%;
        }
      }

      .o-card__face--front {
        > .o-brick {
          $tocs: 3, 4, 7, 8 , 11, 12;
          @include apply-brick-bg($tocs, false);
        }
      }
    }
  }
  &--imgday {
    .o-card__face {
      &--front {
        background: url('../images/tocs/9-toc.png') center center no-repeat;
        background-size: cover;
      }
      &--back {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }
    }
  }
}


.o-col {
  float: left;
  width: 50%;
  height: 100%;
  @include media(">=tablet") {
    &:nth-child(1) {
      width: calc(100% / 3);

      > .o-brick {
        $tocs: "exception", 5;
        @include apply-brick-bg($tocs, 1);
      }
    }
    &:nth-child(2) {
      width: calc(100% / 3 * 2);
    }
  }
}

.o-brick {
  float: left;
  display: block;
  width: 100%;
  height: calc(100% / 3);
  @include media("<tablet") {
    height: calc(100% / 4);

    $tocs: 1, 2, 3, 4, 5, 6, 7, 8;
    @include apply-card-bg($tocs);

    $pseudoTocs: 1, 2, 7, 8;
    $pseudoBg: 9, 10, 11, 12;
    @each $toc in $pseudoTocs {
      $i: index($pseudoTocs, $toc);
      &:nth-child(#{$toc}) {
        &:after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          background: url('../images/tocs/' + nth($pseudoBg, $i) + '-toc.png') no-repeat center center;
          background-size: cover;

          @if ($toc < 4) {
            top: 0;
            transform: translateY(-100%);
          } @else {
            bottom: 0;
            transform: translateY(100%);
          }
        }
      }
    }
  }
  &--half {
    width: calc(100% / 2);
  }
}


.o-content {
  @extend .u-fullsize;
  background: white;
  &--about,
  &--contact {
    display: table;
    text-align: center;
  }
}


.o-curtain {
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 0;
  transition: height 0.6s ease-in-out;
  background-color: #000;
  overflow-y: scroll;
}

.o-case {
  &__resources {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #f4f4f4;
    overflow-y: scroll;

    &-inner {
      padding: 1em;
    }

    &-group {
      max-width: 1024px;
      margin: 0 auto;
    }

    img {
      margin-bottom: 1em;
    }

    audio {
      margin: 4em 0;
    }
  }
  &__video {
    position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
    margin-bottom: 1em;
  	height: 0;
    iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
  &__info {
    width: 100%;
    height: 100%;
    background-color: #fff;

    &-inner {
      padding: 3em 1em 1em;
    }

    .o-format {
      &__title {
        margin-bottom: 0.5em;
      }
      &__text {
        margin-top: 0;
        margin-bottom: 1em;
      }
    }
  }
  &__logo {
    margin-bottom: 1em;
    text-align: center;
    img {
      display: inline-block;
    }
  }
  &__actions {
    width: 100%;
    margin-top: 2em;
    text-align: center;
    &-item {
      display: inline-block;
      vertical-align: middle;
      &:hover {
        background-color: rgba(black, 0.1);
      }
    }
    &-link {
      display: block;
      padding: 0.5em 1em;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      &--seemore {
        color: $c_turquoise;
        &:hover {
          color: $c_turquoise;
        }
      }
    }
  }
}

.o-crew {
  overflow-y: scroll;
  &__grid {
    min-height: 549px;
  }
  &__item {
    @include media('<=tablet') {
      width: 100%;
    }
    &:nth-child(2n) {
      .o-crew {
        &__name {
          float: right;
          padding-left: 1em;
          padding-right: 4em;
          .o-format__title {
            text-align: left;
          }
        }
      }
    }
  }
  &__photo {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__name {
    display: table;
    padding: 1em 1em 1em 4em;
    .o-format__title {
      vertical-align: middle;
      display: table-cell;
      width: 100%;
      max-width: 70%;
      text-align: right;
    }
  }
  @include media("<=tablet") {
    &__name,
    &__photo {
      height: 100%;
    }
  }
}

.o-about {
  &__desc {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  &__block {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 2em;
  }
  &__intro {
    display: inline-block;
    width: 100%;
    max-width: 1000px;
    font-family: Chalet;
    font-size: 1em;
    color: $c_turquoise;
  }
  &__title {
    margin: 0;
    text-transform: uppercase;
    font-family: Chalet;
    font-size: 1em;
    color: $c_turquoise;
  }
  &__text {
    margin: 0;
    font-style: italic;
    font-size: 1em;
    color: $c_gray;
  }
}

.o-logo {
  vertical-align: middle;
  display: table-cell;
  font-size: 3em;
  font-family: Chalet;
  color: $c_turquoise;

  @include media('>desktop') {
    font-size: 5em;
  }

  @include media('>1366px') {
    font-size: 8em;
  }
}


.o-format {
  &__title {
    margin-top: 0;
    color: $c_turquoise;
  }
  &__text {
    margin-bottom: 1em;
    color: $c_gray;
  }
  &__title,
  &__text {
    font-style: italic;
  }
}

.o-close {
  position: absolute;
  top: 1em;
  right: 2em;
  width: 20px;
  height: 20px;
  color: black;
}


.o-contact {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  &__link {
    display: block;
    margin-bottom: 1em;
    color: $c_gray;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $c_turquoise;
    }
  }
}
