// Libs
@import "../../bower_components/include-media/dist/_include-media";

// Mixins
@mixin apply-brick-bg($list, $exception-index) {
  @each $item in $list {
    $i: index($list, $item);
    @if ($i != $exception-index) {
      &:nth-child(#{$i}) {
        background: url('../images/tocs/' + $item + '-toc.png') no-repeat center center;
        background-size: cover;
      }
    }
  }
}

@mixin apply-card-bg($list) {
  @each $item in $list {
    $i: index($list, $item);
    &:nth-child(#{$i}) {
      .o-card__face--front {
        background: url('../images/tocs/' + $item + '-toc.png') no-repeat center center;
        background-size: cover;
      }
    }
  }
}

// Utils
.u-cf:before,
.u-cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.u-cf:after {
    clear: both;
}

.u-cf {
    *zoom: 1;
}
.u-list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.u-fullsize {
  width: 100%;
  height: 100%;
}

.u-imgresponsive {
  max-width: 100%;
}

// Base Styles
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e2e1e0;
  overflow: hidden;
}

* { box-sizing: border-box;}

figure {
  margin: 0;
}


// Custom Syles
.js-hide {
  display: none;
}

.o-layout {
  &--desktop {
    display: none;
    @include media(">=tablet") {
      display: block;
    }
  }
  &--mobile {
    transition: all 0.6s ease-in-out;
    @include media(">=tablet") {
      display: none;
    }
    &.js-translate-up {
      transform: translate3d(0, calc((100% / 4) * -1), 0);
      &.js-show-content {
        .o-curtain {
          top: calc(100% / 4 * 2);
        }
      }
    }
    &.js-translate-down {
      transform: translate3d(0, calc(100% / 4), 0);
      &.js-show-content {
        .o-curtain {
          bottom: calc(100% / 4 * 2);
        }
      }
    }
    &.js-show-content {
      .o-curtain {
        height: calc(100% / 4 * 3);
      }
    }
  }
}

.o-card {
  perspective: 1000px;
  background-color: #e2e1e0;
  &.js-flip {
    > .o-card__flipper {
      transform: rotateY(180deg);
    }
  }

  &__flipper {
    position: relative;
    display: block;
    transform-style: preserve-3d;
    transition: all 0.6s ease-in-out;
  }
  &__face {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    backface-visibility: hidden;
    &--front {
      z-index: 10;
      background: #fff;
    }
    &--back {
      transform: rotateY(180deg);
      background: #000;
      color: white;
    }
  }
  &--case {
    float: left;
    height: 100%;
    &-a {
      width: calc(100% / 4 * 3);
    }
    &-b {
      width: calc(100% / 4);

      .o-card__face--front {
        > .o-brick {
          $tocs: 4, 8, 12;
          @include apply-brick-bg($tocs, false);
        }
      }
    }
  }
  &--about {
    &-a {
      .o-card__face--front {
        background: url('../images/tocs/1-toc.png') no-repeat center center;
        background-size: cover;
      }
    }
    &-b {
      width: 100%;
      height: calc(100% / 3 * 2);

      .o-brick {
        height: calc(100% / 2);
      }

      .o-card__face--front {
        > .o-brick {
          $tocs: 2, 3, "exception", 7;
          @include apply-brick-bg($tocs, 3);
        }
      }
    }
  }
  &--crew {
    &-a {
      .o-card__face--front {
        background: url('../images/tocs/6-toc.png') no-repeat center center;
        background-size: cover;
      }
    }
    &-b {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      width: 50%;
      height: 100%;

      .o-card__face--front {
        > .o-brick {
          $tocs: 3, 4, 7, 8 , 11, 12;
          @include apply-brick-bg($tocs, false);
        }
      }
    }
  }
}

.o-col {
  float: left;
  width: 50%;
  height: 100%;
  @include media(">tablet") {
    &:nth-child(1) {
      width: calc(100% / 3);

      > .o-brick {
        $tocs: "exception", 5, 9;
        @include apply-brick-bg($tocs, 1);
      }
    }
    &:nth-child(2) {
      width: calc(100% / 3 * 2);

      > .o-brick {
        $tocs: "exception", 10, 11;
        @include apply-brick-bg($tocs, 1);
      }
    }
  }
}

.o-brick {
  float: left;
  display: block;
  width: 100%;
  height: calc(100% / 3);
  @include media("<tablet") {
    height: calc(100% / 4);

    $tocs: 1, 2, 3, 4, 5, 6, 7, 8;
    @include apply-card-bg($tocs);

    $pseudoTocs: 1, 2, 7, 8;
    $pseudoBg: 9, 10, 11, 12;
    @each $toc in $pseudoTocs {
      $i: index($pseudoTocs, $toc);
      &:nth-child(#{$toc}) {
        &:after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          background: url('../images/tocs/' + nth($pseudoBg, $i) + '-toc.png') no-repeat center center;
          background-size: cover;

          @if ($toc < 4) {
            top: 0;
            transform: translateY(-100%);
          } @else {
            bottom: 0;
            transform: translateY(100%);
          }
        }
      }
    }
  }
  &--half {
    width: calc(100% / 2);
  }
}


.o-curtain {
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 0;
  transition: height 0.6s ease-in-out;
  background-color: #000;
  overflow-y: scroll;
}

.o-content {
  h1, p {
    color: white;
  }
}
