/*Libs*/
/*Tools*/
/*Colors*/
.u-cf:before,
.u-cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.u-cf:after {
  clear: both; }

.u-cf {
  *zoom: 1; }

.u-list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none; }

.u-fullsize, .o-content {
  width: 100%;
  height: 100%; }

.u-imgresponsive {
  max-width: 100%; }

@font-face {
  font-family: "Chalet";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/chalet-ny-1970.eot?") format("eot"), url("../fonts/chalet-ny-1970.svg#Chalet") format("svg"), url("../fonts/chalet-ny-1970.woff2") format("woff2"), url("../fonts/chalet-ny-1970.woff") format("woff"); }

/*Base*/
/*Base styles*/
html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px; }

body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Cabin Condensed', sans-serif; }
  body.js-noscroll {
    position: fixed;
    overflow: hidden; }

* {
  box-sizing: border-box; }

figure {
  margin: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

/*Components*/
/*Brick*/
.o-brick {
  float: left;
  display: block;
  width: 100%;
  height: calc(100% / 3); }
  @media (max-width: 767px) {
    .o-brick {
      height: calc(100% / 4); }
      .o-brick:nth-child(1) .o-card__face--front {
        background: url("../images/tocs/1-toc.png") no-repeat center center;
        background-size: cover; }
      .o-brick:nth-child(2) .o-card__face--front {
        background: url("../images/tocs/2-toc.png") no-repeat center center;
        background-size: cover; }
      .o-brick:nth-child(3) .o-card__face--front {
        background: url("../images/tocs/3-toc.png") no-repeat center center;
        background-size: cover; }
      .o-brick:nth-child(4) .o-card__face--front {
        background: url("../images/tocs/4-toc.png") no-repeat center center;
        background-size: cover; }
      .o-brick:nth-child(5) .o-card__face--front {
        background: url("../images/tocs/5-toc.png") no-repeat center center;
        background-size: cover; }
      .o-brick:nth-child(6) .o-card__face--front {
        background: url("../images/tocs/6-toc.png") no-repeat center center;
        background-size: cover; }
      .o-brick:nth-child(7) .o-card__face--front {
        background: url("../images/tocs/7-toc.png") no-repeat center center;
        background-size: cover; }
      .o-brick:nth-child(8) .o-card__face--front {
        background: url("../images/tocs/8-toc.png") no-repeat center center;
        background-size: cover; }
      .o-brick:nth-child(1):after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/tocs/9-toc.png") no-repeat center center;
        background-size: cover;
        top: 0;
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%); }
      .o-brick:nth-child(2):after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/tocs/10-toc.png") no-repeat center center;
        background-size: cover;
        top: 0;
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%); }
      .o-brick:nth-child(7):after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/tocs/11-toc.png") no-repeat center center;
        background-size: cover;
        bottom: 0;
        -webkit-transform: translateY(100%);
                transform: translateY(100%); }
      .o-brick:nth-child(8):after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/tocs/12-toc.png") no-repeat center center;
        background-size: cover;
        bottom: 0;
        -webkit-transform: translateY(100%);
                transform: translateY(100%); } }
  .o-brick--half {
    width: calc(100% / 2); }

/*Col*/
.o-col {
  float: left;
  width: 50%;
  height: 100%; }
  @media (min-width: 768px) {
    .o-col:nth-child(1) {
      width: calc(100% / 3); }
    .o-col:nth-child(2) {
      width: calc(100% / 3 * 2); }
      .o-col:nth-child(2) > .o-brick:nth-child(3) {
        background: url("../images/tocs/11-toc.png") no-repeat center center;
        background-size: cover; } }

/*Card*/
.o-card {
  -webkit-perspective: 1500px;
          perspective: 1500px;
  background-color: #fff; }
  .o-card.js-flip > .o-card__flipper {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
    .o-card.js-flip > .o-card__flipper--vertical {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg); }
  .o-card__flipper {
    position: relative;
    display: block;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out; }
    .o-card__flipper--vertical .o-card__face--front {
      -webkit-transform: rotateX(0);
              transform: rotateX(0); }
    .o-card__flipper--vertical .o-card__face--back {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg); }
  .o-card__face {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
    .o-card__face--front {
      z-index: 10;
      background: #fff;
      -webkit-transform: rotateY(0);
              transform: rotateY(0); }
    .o-card__face--back {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      background: white;
      color: white; }
      .o-card__face--back .o-format__title {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
  .o-card--case {
    float: left;
    height: 100%; }
    .o-card--case-a {
      position: relative;
      z-index: 10;
      width: calc(100% / 4 * 3); }
    .o-card--case-b {
      width: calc(100% / 4); }
      .o-card--case-b.js-flip {
        position: fixed;
        top: 0;
        right: 0; }
      .o-card--case-b .o-card__face--front > .o-brick:nth-child(1) {
        background: url("../images/tocs/4-toc.png") no-repeat center center;
        background-size: cover; }
      .o-card--case-b .o-card__face--front > .o-brick:nth-child(2) {
        background: url("../images/tocs/8-toc.png") no-repeat center center;
        background-size: cover; }
  .o-card--about-a .o-card__face--front {
    background: url("../images/tocs/1-toc.png") no-repeat center center;
    background-size: cover; }
  .o-card--about-a .o-card__face--back {
    display: table;
    padding: 1em;
    text-align: center; }
  .o-card--about-b {
    width: 100%;
    height: calc(100% / 3 * 2); }
    .o-card--about-b .o-brick {
      height: calc(100% / 2); }
    .o-card--about-b .o-card__face--front > .o-brick:nth-child(1) {
      background: url("../images/tocs/2-toc.png") no-repeat center center;
      background-size: cover; }
    .o-card--about-b .o-card__face--front > .o-brick:nth-child(2) {
      background: url("../images/tocs/3-toc.png") no-repeat center center;
      background-size: cover; }
    .o-card--about-b .o-card__face--front > .o-brick:nth-child(3) {
      background: url("../images/tocs/6-toc.png") no-repeat center center;
      background-size: cover; }
    .o-card--about-b .o-card__face--front > .o-brick:nth-child(4) {
      background: url("../images/tocs/7-toc.png") no-repeat center center;
      background-size: cover; }
  .o-card--contact-a {
    cursor: pointer; }
    .o-card--contact-a .o-card__face--front {
      background: url("../images/tocs/10-toc.png") no-repeat center center;
      background-size: cover; }
    .o-card--contact-a .o-format__title {
      display: block; }
  .o-card--customers-a .o-card__face--front {
    background: url("../images/tocs/12-toc.png") no-repeat center center;
    background-size: cover; }
  .o-card--customers-b {
    position: absolute;
    top: calc(100% / 3);
    right: 0;
    z-index: 100;
    width: 100%;
    height: calc(100% / 3);
    display: none; }
    .o-card--customers-b .o-card__face--front > .o-brick {
      width: calc(100% / 4);
      height: 100%; }
      .o-card--customers-b .o-card__face--front > .o-brick:nth-child(1) {
        background: url("../images/tocs/5-toc.png") no-repeat center center;
        background-size: cover; }
      .o-card--customers-b .o-card__face--front > .o-brick:nth-child(2) {
        background: url("../images/tocs/6-toc.png") no-repeat center center;
        background-size: cover; }
      .o-card--customers-b .o-card__face--front > .o-brick:nth-child(3) {
        background: url("../images/tocs/7-toc.png") no-repeat center center;
        background-size: cover; }
      .o-card--customers-b .o-card__face--front > .o-brick:nth-child(4) {
        background: url("../images/tocs/8-toc.png") no-repeat center center;
        background-size: cover; }
  .o-card--imgday .o-card__face--front {
    background: url("../images/tocs/9-toc.png") center center no-repeat;
    background-size: cover; }
  .o-card--imgday .o-card__face--back {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .o-card--audio .o-card__face--front {
    background: url("../images/tocs/5-toc.png") center center no-repeat;
    background-size: cover; }

/*Logo*/
.o-logo {
  vertical-align: middle;
  display: table-cell;
  font-size: 3em;
  font-family: Chalet;
  color: #8dd2cd; }
  @media (min-width: 1025px) {
    .o-logo {
      font-size: 5em; } }
  @media (min-width: 1367px) {
    .o-logo {
      font-size: 8em; } }

/*Close button*/
.o-close {
  position: absolute;
  top: 1em;
  right: 2em;
  width: 20px;
  height: 20px;
  color: black; }

/*Format components*/
.o-format__title {
  margin-top: 0;
  color: #8dd2cd;
  font-size: 24px; }

.o-format__text {
  margin-bottom: 1em;
  color: #b2b2b2; }

@media (min-width: 1367px) {
  .o-format__title {
    font-size: 48px; }
  .o-format__text {
    font-size: 1.5em; } }

/*Layout*/
.o-layout--desktop {
  display: none; }
  @media (min-width: 768px) {
    .o-layout--desktop {
      display: block; } }

.o-layout--mobile {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }
  @media (min-width: 768px) {
    .o-layout--mobile {
      display: none; } }
  .o-layout--mobile.js-translate-up {
    -webkit-transform: translate3d(0, calc((100% / 4) * -1), 0);
            transform: translate3d(0, calc((100% / 4) * -1), 0); }
    .o-layout--mobile.js-translate-up.js-show-content .o-curtain {
      top: calc(100% / 4 * 2); }
  .o-layout--mobile.js-translate-down {
    -webkit-transform: translate3d(0, calc(100% / 4), 0);
            transform: translate3d(0, calc(100% / 4), 0); }
    .o-layout--mobile.js-translate-down.js-show-content .o-curtain {
      bottom: calc(100% / 4 * 2); }
  .o-layout--mobile.js-show-content .o-curtain {
    height: calc(100% / 4 * 3); }
  .o-layout--mobile .o-card__face--back {
    display: table;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }

/*Splash*/
.js-hide {
  display: none; }

.o-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999; }
  .o-splash__inner {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; }
    .o-splash__inner.js-show {
      opacity: 1; }
  .o-splash__sprite {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;
    background: url("../images/tocs/tocs-sprite.png");
    background-position: center top;
    -webkit-animation: tocsLoad 1s steps(12) infinite;
            animation: tocsLoad 1s steps(12) infinite;
    opacity: 0;
    overflow: hidden; }
  .o-splash .o-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 5em;
    display: block;
    margin: 0; }

@-webkit-keyframes tocsLoad {
  50% {
    opacity: 0.8; }
  100% {
    background-position: 0 3360px;
    opacity: 0; } }

@keyframes tocsLoad {
  50% {
    opacity: 0.8; }
  100% {
    background-position: 0 3360px;
    opacity: 0; } }

/*Content*/
.o-content {
  background: white; }
  .o-content--about, .o-content--contact {
    display: table;
    text-align: center; }

/*Curtain*/
.o-curtain {
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease-in-out;
  transition: height 0.6s ease-in-out;
  background-color: #000;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

/*Audio home component*/
.o-audio {
  display: table; }
  .o-audio--hidden {
    display: none; }
  .o-audio__inner {
    vertical-align: middle;
    display: table-cell;
    width: 100%; }
  .o-audio__ctrl {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: black;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(1);
            transform: scale(1); }
    .o-audio__ctrl:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

/*Js Carousel*/
.o-jcarousel {
  position: relative;
  overflow: hidden;
  opacity: 0; }
  .o-jcarousel__container {
    position: relative;
    width: 20000em; }
  .o-jcarousel__item {
    float: left; }
  .o-jcarousel__pager {
    margin-top: 1em;
    text-align: center; }
    .o-jcarousel__pager-item {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 8px;
      border-radius: 50%;
      background-color: #b2b2b2; }
      .o-jcarousel__pager-item.js-active {
        background-color: #8dd2cd; }

/*Sections*/
/*About*/
.o-about__carousel {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.o-about__desc {
  text-align: center;
  vertical-align: middle; }

.o-about__block {
  margin-bottom: 1em; }

.o-about__intro {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  font-family: Chalet;
  font-size: 1em;
  color: #8dd2cd; }

.o-about__title {
  margin: 0;
  text-transform: uppercase;
  font-family: Chalet;
  font-size: 1em;
  color: #8dd2cd; }

.o-about__text {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  font-size: 1em;
  color: #b2b2b2; }

@media (min-width: 1366px) {
  .o-about__intro, .o-about__text {
    max-width: 600px; }
  .o-about__intro, .o-about__title {
    font-size: 2em; }
  .o-about__text {
    font-size: 1.5em; } }

/*Case*/
.o-case__resources {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: black;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .o-case__resources-group {
    margin: 0 auto; }
  .o-case__resources-item {
    position: relative;
    display: table;
    height: 100vh;
    width: 100%;
    margin-top: 1em; }
    .o-case__resources-item:first-child {
      margin: 0; }
  .o-case__resources-media {
    display: table-cell;
    vertical-align: middle; }
  .o-case__resources img {
    max-height: 100vh; }
  .o-case__resources audio {
    margin: 4em 0; }

.o-case__video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  margin-bottom: 1em;
  height: 0; }
  .o-case__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.o-case__info {
  width: 100%;
  height: 100%;
  background-color: #fff; }
  .o-case__info-inner {
    padding: 3em 1em 1em; }
  .o-case__info .o-format__title {
    margin-bottom: 0.5em; }
  .o-case__info .o-format__text {
    margin-top: 0;
    margin-bottom: 1em; }

.o-case__logo {
  margin-bottom: 1em;
  text-align: center; }
  .o-case__logo img {
    display: inline-block; }

.o-case__actions {
  width: 100%;
  margin-top: 2em;
  text-align: center; }
  .o-case__actions-item {
    display: inline-block;
    vertical-align: middle; }
    .o-case__actions-item:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .o-case__actions-link {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none; }
    .o-case__actions-link:hover {
      text-decoration: none; }
    .o-case__actions-link--seemore {
      color: #8dd2cd; }
      .o-case__actions-link--seemore:hover {
        color: #8dd2cd; }

/*Crew*/
.o-crew {
  overflow-y: scroll; }
  .o-crew__grid {
    min-height: 549px; }
  @media (max-width: 768px) {
    .o-crew__item {
      width: 100%; } }
  .o-crew__item:nth-child(2n) .o-crew__name {
    float: right;
    padding-left: 1em;
    padding-right: 4em; }
    .o-crew__item:nth-child(2n) .o-crew__name .o-format__title {
      text-align: left; }
  .o-crew__photo {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  .o-crew__name {
    display: table;
    padding: 1em 1em 1em 4em; }
    .o-crew__name .o-format__title {
      vertical-align: middle;
      display: table-cell;
      width: 100%;
      max-width: 70%;
      text-align: right; }
  @media (max-width: 768px) {
    .o-crew__name, .o-crew__photo {
      height: 100%; } }

/*Contact*/
.o-contact {
  display: table;
  text-align: center; }
  .o-contact__inner {
    display: table-cell;
    vertical-align: middle; }
  .o-contact__link {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    color: #b2b2b2;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .o-contact__link:hover {
      color: #8dd2cd; }
    .o-contact__link:last-child {
      margin: 0; }

/*Customers*/
.o-customers {
  background-color: #fff; }
  .o-customers__inner {
    display: table; }
    .o-customers__inner .o-format__title {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
  .o-customers__carousel {
    width: 100%; }
  .o-customers__item {
    display: table;
    width: 480px; }
  .o-customers__fig {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .o-customers__fig img {
      max-height: 100%; }
